@import "style";
 .bg-header{
   background: $bgColor;
   max-height: 320px;
   height: 100vh;
 }
  .row-header{
    justify-content: space-between;
  }
  .logo{
    margin-top: 65px;
  }
  .social_link{
    margin-top: 50px;
    div{
      display: inline-block;
      margin: 0 10px;
      svg{
        vertical-align: bottom;
      }
    }
    .callback{
      margin: 0;
      text-align: center;
      a{
        font-family: $fontsComfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        padding: 15px;
        border: solid 1px #ffffff;
        border-radius: 30px;
        filter: drop-shadow(0px 7px 20px rgba(243, 65, 150, 0.25));
      }
      &:hover{
        border-radius: 30px;
        background: #FFFFFF;
        box-shadow: 0px 7px 20px rgba(243, 65, 150, 0.25);
        a{
          background: linear-gradient(80.88deg, #E91E63 1.97%, #FC5C7A 98.74%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .denim_booty{
      text-align: center;
      max-width: 60%;
      margin-top: 110px;
      .denim_booty_text,.denim_booty_title{
        font-family: $fontsComfortaa;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 71px;
        align-items: center;
        text-align: center;
        color: #ffffff;
        margin: 0;
      }
      .denim_booty_text{
        font-size: 14px;
        line-height: 16px;
      }
      .denim_booty_title{
        text-transform: uppercase;
      }
  }

  .total{
    text-align: center;
    max-width: 60%;
    width: 100%;
    margin-top: 10px;
    p{
      font-family: $fontsComfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 71px;
      color: $textColor_pink;
      margin: 0;

    }
    .currency{
      font-size: 36px;
      line-height: 36px;
    }
    svg{
      margin-top: 20px;
    }
    .delivery{
      font-family: $fontsInter;
      font-size: 18px;
      line-height: 22px;
      color: #30B03D;
    }
    a{
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      text-decoration: none;
      outline: none;
      max-width: 330px;
      width: 100%;
      height: 50px;
      font-family: $fontsComfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #FFFFFF;
      background: $bgColor;
      padding: 2px;
      box-shadow: 0px 7px 20px rgba(243, 65, 150, 0.25);
      border-radius: 30px;
      display: block;
      span{
        padding-top: 12px;
        height: 100%;
        border-radius: 30px;
        display: block;
        background: $bgColor;
      }
      &:hover{
        span,a{
          background: $bgColorHover;
        }
      }
    }
  }

  .images{
    max-width: 40%;
    width: 100%;
    position: relative;
    img{
      max-width:350px;
      max-height: 520px;
      height: 100vh;
      position: absolute;
      top: -150px;
      filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
    }
  }

  .description_denim_booty{
    text-align: center;
    p{
      font-family: $fontsCaveat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      color: #000000;
    }
  }

.swiper-container {
  max-height: 400px;
  height: 100vh;
  .swiper-slide{
    text-align: left;
    max-width: 320px;

  }
  img{
    max-width: 255px;
    max-height: 305px;
    width: 100vw;
    height: 100vh;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
  }
  .swiper-button-prev,.swiper-button-next{
    display: block;
    right: 0;
    left: auto;
    width: auto;
    margin: 0;
    top: auto;
    bottom: 10px;
    &:after{
      content: none;
    }
    svg{
      transition: 0.3s;
      opacity: 0.5;
    }
    &:hover{
      svg{
        opacity: 1;
      }
    }
  }
  .swiper-button-next{
    right: 300px;
  }
  .swiper-button-prev{
    right: 490px;
  }
}
