@import "style";
.chat{
  position: fixed;
  z-index: 2;
  right: 50px;
  top: 50%;
  display: inline-block;
  border: 5px solid  transparent;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
  .chat_bg{
    background: $textColor_pink;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    a{
      text-decoration: none;
      svg{
        margin-top: 15px;
      }
    }
  }
  &:hover{
    transition: 0.3s;
    border-color: rgba(237, 44, 104, 0.15);
  }
}
 .bg-pink{
   background: $bgColorPink;
   padding-bottom: 30px;
   padding-top: 30px;
 }
  .row-header{
    justify-content: space-between;
  }
  .logo{
    margin-top: 35px;
  }
  .social_link{
    position: relative;
    margin-top: 20px;
    div{
      display: inline-block;
      margin: 0 10px;
      svg{
        vertical-align: bottom;
      }
    }
    .callback{
      margin: 0;
      text-align: center;
      a{
        font-family: $fontsComfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        padding: 15px;
        border: solid 1px #ffffff;
        border-radius: 30px;
        filter: drop-shadow(0px 7px 20px rgba(243, 65, 150, 0.25));
      }
      &:hover{
        border-radius: 30px;
        background: #FFFFFF;
        box-shadow: 0px 7px 20px rgba(243, 65, 150, 0.25);
        a{
          background: linear-gradient(80.88deg, #E91E63 1.97%, #FC5C7A 98.74%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
  .popup_callback_header{
    display: none;
    max-width: 690px;
    width: 100vw;
    max-height: 390px;
    height: 100vh;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    background: linear-gradient(153.2deg, #FFFFFF 1.95%, #F9F4F4 97.61%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    .main_right_section{
      max-width: 100%;
      height: 100%;
      p{
        color: #483F42;
        font-weight: bold;
      }
      span{
        color: $textColor_burgundy_tub;
      }
      form{
        input{
          border: 1px solid #F2EAEA;
        }
        button{
          background: linear-gradient(80.88deg,#e91e63 1.97%,#fc5c7a 98.74%);
          box-shadow: 0px 7px 20px rgba(243, 65, 150, 0.25);
        }
        span{
          color: #ffffff;
        }
      }
    }
    .callback_header_title{
      position: relative;
    }
    .callback_header_close{
      position: absolute;
      right: 35px;
      top: 0;
      cursor: pointer;
    }
    #popup_callback_three{
      top: -20px;
    }
  }

  .denim_booty{
      text-align: center;
      max-width: 60%;
      margin-top: 110px;
      .denim_booty_text,.denim_booty_title{
        font-family: $fontsComfortaa;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 71px;
        align-items: center;
        text-align: center;
        color: #ffffff;
        margin: 0;
      }
      .denim_booty_text{
        font-size: 14px;
        line-height: 16px;
      }
      .denim_booty_title{
        text-transform: uppercase;
      }
  }
  .relative_popup{
    position: relative;
  }
  .total{
    text-align: center;
    max-width: 60%;
    width: 100%;
    margin-top: 10px;
    p{
      font-family: $fontsComfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      line-height: 71px;
      color: $textColor_pink;
      margin: 0;

    }
    .currency{
      font-size: 36px;
      line-height: 36px;
    }
    svg{
      margin-top: 20px;
    }
    .delivery{
      font-family: $fontsInter;
      font-size: 18px;
      line-height: 22px;
      color: #30B03D;
    }
    a{
      margin-top: 70px;
      margin-left: auto;
      margin-right: auto;
      text-decoration: none;
      outline: none;
      max-width: 330px;
      width: 100%;
      height: 50px;
      font-family: $fontsComfortaa;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #FFFFFF;
      background: $bgColorPink;
      padding: 2px;
      box-shadow: 0px 7px 20px rgba(243, 65, 150, 0.25);
      border-radius: 30px;
      display: block;
      span{
        padding-top: 12px;
        height: 100%;
        border-radius: 30px;
        display: block;
        background: $bgColorPink;
      }
      &:hover{
        span,a{
          background: $bgColorHover;
        }
      }
    }
  }

  .popup_buy{
    display:none;
    position: absolute;
    top: 0;
    z-index: 2;
    max-width: 690px;
    width: 100vw;
    max-height: 485px;
    height: 100vh;
    transition: max-height 0.3s;
    background: linear-gradient(153.2deg, #FFFFFF 1.95%, #F9F4F4 97.61%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    .main_right_section{
      max-width: 100%;
      height: 100%;
      p{
        color: #483F42;
        font-weight: bold;
      }
      span{
        color: $textColor_burgundy_tub;
      }
      form{
        input{
          border: 1px solid #F2EAEA;
        }
        button{
          background: linear-gradient(80.88deg,#e91e63 1.97%,#fc5c7a 98.74%);
          box-shadow: 0px 7px 20px rgba(243, 65, 150, 0.25);
        }
        span{
          color: #ffffff;
        }
      }
      .popup_buy_checkbox_text{
        font-family: $fontsInter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color:$textColor_green;

      }
      .popup_buy_form{
        margin-top: 0;
      }
    }
    .callback_header_title{
      position: relative;
    }
    .callback_header_close{
      position: absolute;
      right: 35px;
      top: 0;
      cursor: pointer;
    }
    #popup_callback_foo{
      top: -20px;
    }
    .switch {
      margin-top: 25px;
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
      border-radius:30px;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $checkboxButton;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked .slider:before{
      background-color: #007aff;
    }
    input:checked + .slider {
      background-color: #ffffff;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background-color: $textColor_pink;
    }

    .slider.round {
      border-radius: 30px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .store_description{
      display: none;
    }
    .store_description_images{
      max-width: 65%;
      img{
        width: 100%;
        max-height: 230px;
        height: 100vh;
      }
    }
    .store_description_summa{
      max-width: 35%;
      width: 100vw;
      p,span{
        font-family: $fontsComfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 71px;
        color: $textColor_pink;
        margin-bottom: 0;
      }
      .currency{
        font-size: 36px;
        line-height: 36px;
      }
    }
    .store_description_size{
      p{
        font-family: $fontsComfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: $textColor_burgundy;
      }
      form{
        margin-top: 0;
        .size_label{
          font-family: $fontsComfortaa;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 54px;
          color: #000000;
          opacity: 0.25;
          cursor: pointer;
          position: relative;
          padding-left: 10px;
          display: inline-block;
          border-bottom: 4px solid transparent;
          input{
            opacity: 0;
            width: 0;
            height: 0;
          }
        }
        .select_size{
          color: #4F3C3C;
          opacity: 1;
          border-bottom-color:$textColor_pink;
        }
        a{
          margin-top: 25px;
          svg{
            margin-right: 10px;
          }
          text-decoration: none;
          display: block;
          font-family: $fontsInter;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          color: $textColor_green;
        }
        .amount_label{
          opacity: 1;
          padding: 0;
          br{
            display: none;
          }
          .amount,span{
            opacity: 1;
            width: 95px;
            text-align: center;
            font-family:$fontsComfortaa;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            color: $textColor_pink;
            border: none;
            padding-left: 15px;
          }
          span{
            color: #000000;
            opacity: 0.25;
            padding-left: 0;
          }
        }
        .amount_row{
          justify-content: center;
          margin-top: 15px;
        }
        .stepDown,.stepUp{
          border: none;
          background-color: transparent;
          cursor: pointer;
          padding: 5px;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-top: 0;
        }
        .stepDown{
          margin-left: auto;
          margin-right: 25px;
        }
        .stepUp{
          margin-right: auto;
          margin-left: 25px;
        }
        .amount_button{
          max-width: 285px;
          width: 100%;
          height: 50px;
          border-radius: 30px;
          transition: background 0.3s;
          background:$bgColorPink;
          border: 1px solid #ffffff;
          margin-top: 30px;
          span{
            font-family: $fontsComfortaa;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            color: #FFFFFF;
            background-color: $bgColorHover;
          }
          &:hover{
            background: #FFFFFF;
            transition: background 0.3s;
            box-shadow: 0px 7px 20px rgba(243, 65, 150, 0.25);
            span{
              color: $bgColorFigure;
            }
          }
          &:focus{
            border-color:$bgColorFigure;
            background: transparent;
            span{
              color: $bgColorFigure;
            }
          }
          &:active{
            box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
            background: #ffffff;
            span{
              background: $bgColorPink;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

  }
  .popup_buy_checked{
    transition: 0.3s;
    max-height: 700px;
  }

  .images{
    max-width: 40%;
    width: 100%;
    position: relative;
    img{
      max-width:350px;
      max-height: 520px;
      height: 100vh;
      position: absolute;
      top: -170px;
      bottom: 0;
      filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
    }
  }

  .description_denim_booty{
    text-align: center;
    p{
      font-family: $fontsCaveat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      color: #000000;
    }
  }

.swiper-container {
  max-height: 400px;
  height: 100vh;
  .swiper-slide{
    text-align: center;
  }
  .swiper-slide-visible{
    text-align: center;
  }
  img{
    max-width:255px ;
    width: 100vw;
    max-height: 305px;
    height: 100%;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
  }
  .swiper-button-prev,.swiper-button-next{
    display: block;
    right: 0;
    left: auto;
    width: auto;
    margin: 0;
    top: auto;
    bottom: 10px;
    &:after{
      content: none;
    }
    svg{
      transition: 0.3s;
      opacity: 0.5;
    }
    &:hover{
      svg{
        opacity: 1;
      }
    }
  }
  .swiper-button-next{
    right: 300px;
  }
  .swiper-button-prev{
    right: 490px;
  }
}
